<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <title>AnonWall</title>
</head>
<body>
    <div id="login-container">
        <div class="login-card">
            <div class="card-left">
                <h1>AnonWall</h1>
                <p>Welcome!</p>
            </div>
            <div class="card-right">
                <h2>Sign up to AnonWall</h2>
                <p>Enter your private username</p>
                <input type="text" id="username-input" placeholder="Username" maxLength="20">
                <p id="invalid-username-message"></p>
                <button id="signup-button">Sign up</button>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>