<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <title>AnonWall</title>
</head>
<body>
    <!-- Loading Screen -->
    <div id="loading-container">
        <div class="loading-card">
            <div class="loading-spinner"></div>
        </div>
    </div>
    <!-- Login Screen -->
    <div id="login-container" style="display:none;">
        <div class="login-card">
            <div class="card-left">
                <h1>AnonWall</h1>
                <p>Welcome!</p>
            </div>
            <div class="card-right">
                <h2>Sign up to AnonWall</h2>
                <p>Enter your private username</p>
                <input type="text" id="username-input" placeholder="Username" maxLength="20">
                <p id="invalid-username-message"></p>
                <button id="signup-button">Sign up</button>
            </div>
        </div>
    </div>
    <!-- Main Screen -->
     <main id="main-container" style="display: none;">
        <section class="header">
            <h1>AnonWall</h1>
        </section>
        <section class="left-sidebar">
            <nav>
                <a href="#" data-page="main-wall" class="active">Main Wall</a>
                <a href="#" data-page="profile">Profile</a>
                <a href="#" data-page="canvas">Canvas</a>
            </nav>
        </section>
        <section class="content">
            <div id="page-profile" class="page-content" style="display:none;">
                profile page
            </div>
            <div id="page-main-wall" class="page-content">
                main wall page
            </div>
            <div id="page-canvas" class="page-content" style="display:none;">
                canvas page
            </div>
        </section>
        <section class="right-sidebar">
            hello
        </section>
     </main>
    
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>