<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>AnonWall</title>
</head>
<body>
    <!-- Loading Screen -->
    <div id="loading-container">
        <div class="loading-card">
            <div class="loading-spinner"></div>
        </div>
    </div>
    <!-- Sign Up Screen -->
    <div id="sign-up-container">
        <div class="sign-up-card">
            <div class="card-left">
                <h1>AnonWall</h1>
                <p>Welcome!</p>
            </div>
            <div class="card-right">
                <h2>Sign up to AnonWall</h2>
                <div class="input-container">
                    <p>Enter your private username</p>
                    <input type="text" id="username-input" data-action="enterUsername" placeholder="Username" maxLength="20">
                </div>
                <div class="input-container">
                    <p>Enter your first public alt name</p>
                    <input type="text" id="alt-name-input" data-action="enterAltName" placeholder="Alt Name" maxlength="20">
                </div>
                <p id="invalid-username-message"></p>
                <button id="sign-up-button" data-action="signUp">Sign up</button>
            </div>
        </div>
    </div>
    <!-- Main Screen -->
     <main id="main-container" style="display: none;">
        <section class="header">
            <h1>AnonWall</h1>
        </section>
        <section class="left-sidebar">
            <nav>
                <a href="#" data-page="main-wall" data-action="fetchGlobalPosts" class="active">Main Wall</a>
                <a href="#" data-page="profile" data-action="fetchUserPosts">Profile</a>
                <a href="#" data-page="canvas" data-action="SOON">Canvas</a>
            </nav>
        </section>
        <section class="content">
            <div class="page-content" data-page="main-wall">
                <!-- Post Creator -->
                <div class="post-creator" data-creatorid="main-wall">
                    <div class="post-creator-header">
                        <p class="post-creator-label">Create post</p>
                        <div class="post-creator-controls">
                            <select class="alt-name-select">
                                <option value="{new-alt}">+ Create New Alt</option>
                            </select>
                            <button class="post-button" data-action="createPost" data-creatorid="main-wall">Post</button>
                        </div>
                    </div>
                    <div class="post-creator-input">
                        <textarea type="text" class="post-subject-input" data-action="enterSubject" data-creatorid="main-wall" placeholder="Subject" rows="1" maxlength="150"></textarea>
                        <textarea type="text" class="post-content-input" data-action="enterContent" data-creatorid="main-wall" placeholder="Write something.." rows="1" maxlength="2000"></textarea>
                    </div>
                </div>

                <!-- Wall -->
                <div id="wall">
                    <!-- loading -->
                     <div id="loading-posts"class="loading-posts">
                        <div class="loading-spinner"></div>
                        <span>Loading posts...</span>
                    </div>
                    <!-- posts will be provided by js -->
                </div>
            </div>
            <div class="page-content" data-page="profile" style="display:none;">
                <!-- Profile Header -->
                <div class="profile-card">
                    <div class="profile-header">
                        <p class="profile-label">Your Profile</p>
                        <p id="private-username" class="private-username hidden">[HIDDEN USERNAME]</p>
                    </div>
                    <div id="profile-actions" class="profile-actions">
                        <button id="show-private-username-button" class="profile-action-button" data-action="showPrivateUsername">
                            <i class="fa-regular fa-eye"></i>
                        </button>
                        <button class="profile-action-button" data-action="copyUserID">
                            <i class="fa-regular fa-copy"></i>
                        </button>
                    </div>
                </div>
                <!-- Post Creator -->
                <div class="post-creator" data-creatorid="user-wall">
                    <div class="post-creator-header">
                        <p class="post-creator-label">Create post</p>
                        <div class="post-creator-controls">
                            <select class="alt-name-select">
                                <option value="{new-alt}">+ Create New Alt</option>
                            </select>
                            <button class="post-button" data-action="createPost" data-creatorid="user-wall">Post</button>
                        </div>
                    </div>
                    <div class="post-creator-input">
                        <textarea type="text" class="post-subject-input" data-action="enterSubject" data-creatorid="user-wall" placeholder="Subject" rows="1" maxlength="150"></textarea>
                        <textarea type="text" class="post-content-input" data-action="enterContent" data-creatorid="user-wall" placeholder="Write something.." rows="1" maxlength="2000"></textarea>
                    </div>
                </div>

                <div id="user-wall">
                    <!-- loading -->
                     <div id="loading-user-posts" class="loading-posts">
                        <div class="loading-spinner"></div>
                        <span>Loading posts...</span>
                    </div>
                    <!-- all user posts -->
                </div>
            </div>
            <div class="page-content" data-page="canvas" style="display:none;">
                canvas page
                <!-- TEST: REMOVE THIS -->
                <button onclick="cookieHelp.deleteCookie('user_id')">Magic Button</button> 
            </div>
        </section>
        <section class="right-sidebar">
            hello
        </section>
    </main>
    <!-- Post Detail Modal -->
    <div id="post-modal" class="post-modal" style="display:none;">
        <div class="post-modal-overlay" data-action="closePostModal"></div>
        <div class="post-modal-content">
            <div id="post-detail-content">
                <!-- post detail here -->
            </div>
        </div>
    </div>
    
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script type="module" src="static/script.js"></script>
</body>
</html>